@model List<VeriTabaniProje.Models.Otopark>

@section Styles {
	<link rel="stylesheet" href="/css/kat.css">
}

<div class="kat-background">
	<div class="d-flex justify-content-between w-100">
		<h2>Otopark</h2>

		<form method="get" asp-action="Index" class="d-flex mb-2 d-flex">
			<input type="text" name="search" value="@Context.Request.Query["search"]" class="form-control me-2"
				placeholder="Kat No ara...">
			<button type="submit" class="btn btn-primary">Ara</button>
		</form>
	</div>
	<table class="table table-stripped table-dark border ">
		<thead>
			<tr>
				<th scope="col">Kat</th>
				<th scope="col">Kapasite</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (Otopark otopark in Model)
			{
				<tr>
					<td>
						@otopark.Katno
					</td>

					<td>
						@otopark.Otoparkkapasite
					</td>

					<td>
						<div class="w-40">
							<a asp-action="Edit" asp-route-id="@otopark.Otoparkno" asp-controller="Otopark"
								class="btn btn-primary btn-sm" role="button">
								<i class="bi bi-pencil-square"></i>Güncelle
							</a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>