@model VeriTabaniProje.Models.Avmyoneticisi
@section Styles {
    <link rel="stylesheet" href="/css/kat.css">
}

<div class="kat-background">
    <h2 style="color:white;">@Model.Avmyoneticisino. - Nolu Avm Yöneticisi Düzenleme</h2>
    <div class="main-content w-100" style="padding-top:20px;">
        <div class=" w-100">
            <table class="table table-stripped table-dark border">
                <thead>
                    <tr>
                        <th>Profil</th>
                        <th>Adı </th>
                        <th>Soyadı</th>
                        <th>Avm Adı</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <form asp-action="Edit" asp-controller="AvmYoneticisi" enctype="multipart/form-data" method="post">
                         @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="Avmyoneticisino" />
                        <td>
                            <img src="~/images/profil/profil/@Model.Profilfoto" alt="profil Foto"
                                style="width:20%;height:20%;border-radius:50%;margin-right:10px;">
                            <input type="file" name="Foto" />

                        </td>
                        <td> <input type="text" asp-for="Adi" name="Ad" class="form-control" /></td>
                        <td> <input type="text" asp-for="Soyadi" name="Soyad" class="form-control"/></td>

                        <td>
                            <input type="text" asp-for="Avm.Adi" />

                        </td>
                        <td>

                            <button type="submit" class="btn btn-success">Güncelle</button>
                        </td>

                    </form>

                </tbody>
            </table>
        </div>
    </div>

</div>