@model VeriTabaniProje.Models.Magazasahibi
@section Styles {
    <link rel="stylesheet" href="/css/kat.css">
}

<div class="kat-background">
    <h2 style="color:white;">@Model.Magazasahibino. - Nolu Magaza Sahibi Düzenleme</h2>
    <div class="main-content w-100" style="padding-top:20px;">
        <div class=" w-100">
            <table class="table table-stripped table-dark border">
                <thead>
                    <tr>
                        <th>Profil</th>
                        <th>Adı </th>
                        <th>Soyadı</th>
                        <th>Magazalar</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <form asp-action="Edit" asp-controller="MagazaSahibi" enctype="multipart/form-data" method="post">
                       @Html.AntiForgeryToken()
				        <input type="hidden" asp-for="Magazasahibino" />

                        <td>
                            <img src="~/images/profil/profil/@Model.Profilfoto" alt="profil Foto"
                                style="width:20%;height:20%;border-radius:50%;margin-right:10px;">
                            <input type="file" name="Foto" />
                        </td>
                        <td>

                        <td> <input type="text" asp-for="Adi" class="form-control" name="Ad" /></td>
                        <td> <input type="text" asp-for="Soyadi" class="form-control" name="Soyad"/></td>

                        <td>
                            <input type="text" asp-for="Magaza.Adi" />
                        </td>
                        <td>

                            <button type="submit" class="btn btn-success">Güncelle</button>
                        </td>

                    </form>

                </tbody>
            </table>
        </div>
    </div>

</div>