@model VeriTabaniProje.Models.TedarikciEditViewModel

@section Styles {
    <link rel="stylesheet" href="/css/kat.css">
}

<div class="kat-background">
    <h2 style="color:white;">Yeni Tedarikçi Ekle</h2>
    
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">@TempData["Error"]</div>
    }

    <div class="main-content w-100" style="padding-top:20px;">
        <div class="w-100">

            <form asp-action="Create" asp-controller="Tedarikci" method="post" enctype="multipart/form-data">

                <table class="table table-striped table-dark border">
                    <thead>
                        <tr>
                            <th>Profil</th>
                            <th>Adı</th>
                            <th>Soyadı</th>
                            <th>Mağaza</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="file" name="Foto" class="form-control" />
                            </td>
                            <td>
                                <input asp-for="Adi" class="form-control" required />
                            </td>
                            <td>
                                <input asp-for="Soyadi" class="form-control" required />
                            </td>
                            <td>
                                <select asp-for="Magazano" class="form-control me-2" 
                                        asp-items="Model.MagazaList">
                                    <option value="0">--Seçiniz--</option>
                                </select>
                                <span asp-validation-for="Magazano" class="text-danger"></span>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-success">Ekle</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>

        </div>
    </div>
</div>