@model VeriTabaniProje.Models.MagazaElemanEditViewModel

@section Styles {
    <link rel="stylesheet" href="/css/kat.css">
}


<div class="kat-background">
    @if (TempData["Error"] != null)
{
	<div class="alert alert-danger">
		@TempData["Error"]
	</div>
}
    <h2 style="color:white;">Yeni Mağaza Elemanı Ekle</h2>

    <div class="main-content w-100" style="padding-top:20px;">
        <div class="w-100">

            <form asp-action="Create" asp-controller="Magazaelemani" enctype="multipart/form-data" method="post">
                 @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" />
                <table class="table table-stripped table-dark border">
                    <thead>
                        <tr>
                            <th>Profil</th>
                            <th>Adı </th>
                            <th>Soyadı</th>
                            <th>Mağaza</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <input type="file" name="Foto" class="form-control" value="1.jpg" />
                            </td>

                            <td>

                                <input asp-for="Adi" class="form-control" />
                            </td>

                            <td>

                                <input asp-for="Soyadi" class="form-control" />
                            </td>

                            <td>
                                <select asp-for="Magazano" class="form-control me-2" 
                                    asp-items="Model.MagazaList">
                                    <option value="@Model.Magazano">--Seçiniz--</option>
                                </select>

                            </td>

                            <td>
                                <button type="submit" class="btn btn-success">Ekle</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </form>

        </div>
    </div>
</div>