@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link rel="stylesheet" href="/css/home.css" />
}

<div class="home-background">
    <h1 class="">Avm Yönetim Sistemine<br />Hoş Gelidiniz</h1>
</div>