@model VeriTabaniProje.Models.Gelir
@section Styles {
	<link rel="stylesheet" href="/css/kat.css" />
}

<div class="kat-background">
	<h2 style="color:white;">Gelir Düzenle</h2>
	<div class="main-content w-100" style="padding-top:20px;">
		<div class="w-100 container">
			<form asp-controller="Gelir" asp-action="Edit" method="post">
				<input type="hidden" asp-for="Gelirno" />

				<table class="table table-stripped table-dark border">
					<thead>
						<tr>
							<th style="width:20%;">Gelir Numarası</th>
							<th style="width:20%;">Magaza Numarası</th>
							<th style="width:20%;">Gelir Miktarı</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="align-middle">
								<span class="fw-bold">@Model.Gelirno</span>
								<input type="hidden" asp-for="Gelirno"/>
							</td>
							<td class="align-middle">
								<span class="fw-bold">@Model.Magazano</span>
								<input type="hidden" asp-for="Magazano"/>
							</td>
							<td>
								<input asp-for="Gelirmiktari" type="number" class="form-control text-center"
									style="max-width:150px;" required />
							</td>
							<td>
								<div class="f-flex gap-2">
									<button type="submit" class="btn btn-success">
										<i class="bi bi-chech-circle"></i>Kaydet
									</button>
									<a asp-action="Index" class="btn btn-secondary">İptal</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</div>