#anaMenu{
 
  color:white;
  font-size:18px;
  background-color:rgba(0,0,0,0.5);
  display:flex;
  background-color: rgba(255,255,255,0.1);
  z-index: 10px;
 
}


#main a{
  color: white;
  text-decoration: none;
  font-weight:bold;
}

.navbar a:hover{
  text-decoration:underline;
}